<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
       
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap-responsive.css">
        <link rel="stylesheet" href="css/custom-styles.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/component.css">
        <link rel="stylesheet" href="css/font-awesome-ie7.css">

        <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->
            <div class="container">
                <div class="site-header">
                    <div class="logo">
                        <h1>YEONWOO CHO</h1>
                    </div>
                    <div class="menu">
                        <div class="navbar">
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <i class="fw-icon-th-list"></i>
                            </a>
                            <div class="nav-collapse collapse">
                                <ul class="nav">
                                    <li class="active"><a href="#">Home</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">FAV*PLACE</a></li>
                                    <li><a href="#">FAV*THING</a></li>
                                    <li><a href="#">FAV*MUSIC</a></li>
                                </ul>
                            </div><!--/.nav-collapse -->
                        </div>
                        <div class="mini-menu">
            <label>
          <select class="selectnav">
            <option value="#" selected="">Home</option>
            <option value="#">About</option>
            <option value="#">→ Another action</option>
            <option value="#">→ Something else here</option>
            <option value="#">→ Another action</option>
            <option value="#">→ Something else here</option>
            <option value="#">Services</option>
            <option value="#">Work</option>
            <option value="#">Contact</option>
          </select>
          </label>
          </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="banner">
                    <div class="carousel slide" id="myCarousel">
                                    <!-- Carousel items -->
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="featured-content">
                    <div class="row-fluid">
                        <div class="span5 offset1">
                            <div class="block">
                                <h1>Yeonwoo Cho</h1><br>
                                <h2>AGE 22<br>BIRTH 960712<br><br>SKKU Double Major<br>Education of<br>Classical Chinese<br>Computer</h2>
                                <a href="#" class="btn">more</a>
                            </div>
                        </div>
                        <div class="span5">
                            <div class="block-content">
                                <h3><br><br><br>Welcome to<br>my Self-Introdcution Page</h3>
                                <h4>안녕하세요<br><br>저는 성균관대학교<br>멋쟁이 사자처럼 5기 조연우입니다</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="featured-blocks">
                    <div class="row-fluid">
                        <div class="span4">
                            <div class="media">
                              <a class="pull-left" href="#">
                              </a>
                              <div class="media-body">
                                <h1 class="media-heading">FAV PLACE</h1>
                                <div class="ruler-bottom"></div>
                                <p class="spacing-t"><br>집<br>한강<br></p>
                                <a href="#" class="btn">more</a>
                              </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="media">
                              <a class="pull-left" href="#">
                              </a>
                              <div class="media-body">
                                <h1 class="media-heading">FAV THING</h1>
                                <div class="ruler-bottom"></div>
                                <p class="spacing-t">만화책<br>자전거<br>여행<br>레고/피규어<br>요리<br>콘솔게임</p>
                                <a href="#" class="btn">more</a>
                              </div>
                            </div>
                        </div>
                         <div class="span4">
                             <div class="media">
                              <a class="pull-left" href="#">
                              </a>
                              <div class="media-body">
                                <h1 class="media-heading">FAV MUSIC</h1>
                                <div class="ruler-bottom"></div>
                                <p class="spacing-t">치즈<br>지브리스튜디오 OST<br>라라랜드 OST<br>곽진언<br>김광석<br>윤종신</p>
                                <a href="#" class="btn">more</a>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="featured-heading">
                    <h1>DO you want to know more about me?</h1>
                    <br>
                    <h2>contact me</h2>
                    </form>
                </div>
            </div>
            <div class="container">
                <div class="site-info">
                    <div class="span3">
                        <h1>CONTACT</h1>
                        <div class="posts">
                            <ul>
                                    NAME <br>
                                    <p class="last">Yeonwoo Cho</p>
                                    <br>
                                    PHONE NUMBER <br>
                                    <p class="last">010 4695 1712</p>
                                    <br>
                                    E-MAIL <br>
                                    <p class="last">eow0712@naver.com</p>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copy-rights">
                    Copyright(c) Yeonwoo Cho 2017
                </div>
            </div>
            
       <script src="js/jquery-1.9.1.js"></script> 
<script src="js/bootstrap.js"></script>
<script>
$('#myCarousel').carousel({
    interval: 1800
});
</script>

    </body>
</html>
